body{
	height:auto;
}
.test{
	color: red
}
.top-header{
	background: #ed3237;
	height: 25px;
}
.login:hover{
	text-decoration: none;
	color: #bfbfbf;
}
.login{
	color:  #ffffff;
	float: right;
}
.register:hover{
	text-decoration: none;
	color: #bfbfbf;
}
.register{
	color: #ffffff;
	float: right;
}
a.login{
	float: right;
}
.clear{
	clear: both;
}
.logo{
	width: 60%;
	margin-top: 10px;
	margin-bottom: 5px;
	float: right;
}
.logos{
	width: 25%;
}

/* 403 page */
.form-control-borderless {
    border: none;
}
.form-control-borderless:hover, 
.form-control-borderless:active, 
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.text-body{
	margin-top: 10px;
}
.justify-content{
	margin-top: 20px;
	margin-left: 30px;

}
.card-body{
	padding: 5px;
	width: 100%;
}

.search{
	width: 50%;
}
.func{
	width: 25%;	
}
.cart{
	margin-top: 30px;
/* 	margin-left: 5px; */
	width: 50%;
	float: left;
}
.order{
	width: 50%;
	margin-top: 30px;
	margin-left:50%;
}
.cart-style{
	font-size:24px;
	color:red
}
.ship-style{
	font-size:24px;
	color:red
}
.menu{
	background: #1a75ff;
	height: 50px;
	margin: 0;

}
.list-menus{
	margin-left: 90px;
}
.list-menu li{

	 display: inline;

}
.list-menu li a{
	font-size: 20px;
	color: #ffffff; 
	padding: 10px;
	display: inline-block;
}
.list-menu li a:hover{
	text-decoration: none;
	background: red;
}
.footers{
	margin-top:10px;
	background: #cccccc;
	height: 275px;
}
.f1{
	
	margin-left: 20px;
}
.f1 ul{
	margin-left: 20px;
}
/* .footers{
	background: #cccccc;
	height: auto;
} */