<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main-layout :: main-fragment(  
                                                ~{:: #custom-style},
                                                ~{:: #main-content},
                                                ~{:: #custom-script},
                                               )}">
<head>
    <th:block id="custom-style">
        <style>
            .clear {
                clear: both;
            }

            .links:hover {
                text-decoration: none;
            }

            .links {

                text-decoration: none;
                color: #4d79ff;
            }

            .avatars {
                width: 200px;
                height: 216px;
                margin-left: 10px;
                overflow: hidden
            }

            .wrapper {
                width: 240px;
                height: 420px;
                float: left;
                /*border:  1px solid LightGray;*/
                box-shadow: 0 0 8px 0px #888888;
                color: black;
                /*display: none; */
                border-radius: 10px;
                margin: 10px;
            }

            .wrapper:hover {
                box-shadow: 0 0 12px 4px #888888;

            }

            .zoom {
                transition: transform 0.2s;
                width: 216px;
                height: 200px;
                margin: 15px 0px 15px 0px;
            }

            .zoom:hover {
                transform: scale(1.05);
            }

            .sp0 {
                margin-left: 35px
            }

            .buy {
                margin-left: 70px;
                padding: 6px 10px;
                border: 1px solid #ccff99;
                border-radius: 15px;
            }

            .buy:hover {
                background-color: #ff3300;
                color: white;
            }

            .side-bar {
                height: 500px;
                width: 390px;
                float: left;
                margin: 30px 30px;
            }

            .content {
                margin: 30px 0px;
                height: auto;
                width: 970px;
            }

            .hr {
                border-top: 1px solid red;
                width: 300px;
                margin: 0px 0px 10px 0px;
            }

            /* Style the buttons */
            .btns {
                border: none;
                outline: none;
                padding: 6px 16px;
                background-color: #f1f1f1;
                cursor: pointer;
            }

            .btns:hover {
                background-color: #ddd;
            }

            .btns.activess {
                background-color: #666;
                color: white;
                border: none;
            }

            .justify-content-end {
                margin-top: 20px;
            }
            .active {
                background: #666 !important;
                color: white;
            }
        </style>
    </th:block>
</head>
<body>

<div id="main-content" style="margin-top:10px">
    <div class="container">
        <div>
            <a href="/"><img src="img/banner.jpg" style="width:100%; margin-bottom: 20px"></a>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 66%; float: left">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="img/slide1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="img/slide2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="img/slide3.png" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div style="width:32%;float: left;margin-left: 5px">
            <a href="#"><img src="img/imgads.png" style="width:100%"></a>
            <a href="#"><img src="img/imgads2.png" style="width:100%; margin-top: 5px"></a>
        </div>
        <div class="clear"></div>

        <div style="margin-top: 10px">
            <div id="myBtnContainer">
                <button type="button" class="btns mr-2 activess" onclick="filterSelection('all')">Show All</button>
                <button type="button" class="btns mr-2" onclick="filterSelection('G-Shock')">G-shock</button>
                <button type="button" class="btns mr-2 " onclick="filterSelection('Citizen')">Citizen</button>
                <button type="button" class="btns mr-2" onclick="filterSelection('Casio')">Casio</button>
                <button type="button" class="btns mr-2 " onclick="filterSelection('Titan')">Titan</button>
                <span> |  &nbsp;</span>
                <button type="button" style="background: revert;padding: 5px;margin-bottom: 2px; width: 80px" id="gender-male"
                        class="btn btn-default mr-2"  onclick="sortByGender('male')">
                    Nam
                    <i  aria-hidden="true"></i>
                </button>
                <button type="button" style="background: revert;padding: 5px;margin-bottom: 2px; width: 80px" id="gender-female"
                        class="btn btn-default mr-2"  onclick="sortByGender('female')">
                    Nữ
                    <i  aria-hidden="true"></i>
                </button>
                <span> |  &nbsp;</span>
                <button type="button" style="background: revert;padding: 5px;margin-bottom: 2px;" class="btn btn-default mr-2" id="btn-sort-acs" onclick="sortByPrice('ASC')">
                    Giá cao
                    <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                </button>
                <button type="button" style="background: revert;padding: 5px;margin-bottom: 2px;" class="btn btn-default mr-2" id="btn-sort-desc" onclick="sortByPrice('DESC')">
                    Giá thấp
                    <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                </button>
            </div>

        </div>

        <!-- 1420px -->
        <div id="main" style="width: 1040px ;height:auto;">
            <div class="content">
                <div class="box-title mb-2">
                    <a>Sản phẩm</a>
                </div>

                <hr class="hr">
                <div class="sp" style="height: auto;width: 1040px;"></div>
            </div>
            <div class="clear"></div>
            <nav aria-label="Page navigation example" style="margin-left: 100px">
                <ul id="pageNumber" class="pagination justify-content-end ">
                </ul>
            </nav>
        </div>

    </div>
</div>

</body>
<th:block id="custom-script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
        let brandFilter = null;
        let genderFilter = null;
        let page = null;
        var priceSort = null;
		var typeSort = null;
        loadData();

        function loadData() {
            var url = new URL(window.location.href);
            var key = url.searchParams.get("key");
            console.log(key)
            this.getData();
        }
        function getData() {
            let dataRequest = {
                brand: this.brandFilter,
                gender: this.genderFilter,
                sortBy: this.priceSort,
                sortType: this.typeSort,
                page: this.page,
            };
            $.ajax({
                url: '/api/product-filter',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(dataRequest),
                success: function (data) {
                    let html = [];
                    let htmlPage = [];
                    $('.sp').empty()
                    $('#pageNumber').empty()
                    $('#pageNumber').append(`
				<li class="page-item" id="previewPage">
					<a class="page-link" tabindex="-1" onclick="getPreviewPage(${data.page})">&laquo; Previous</a>
				</li>
				`)
                    let i = 0;
                    data.products.forEach(element => {
                        x = element.price.toLocaleString('vi', {style: 'currency', currency: 'vnd'});
                        html[i] = `<div class="wrapper ${element.brands}">
                                  <div class="ava-name">
                                      <div class="avatars">
                                          <a class="links" href="/products/${element.slug}"><img class="zoom" src="${element.image}"></a>
                                      </div>
                                      <div class="name" style="margin:12px 8px 8px 30px">
                                          <strong ><a class="links" href="#">${element.name}</a></strong>
                                      </div>
                                  </div>
                                  <div class="sp0" style="width: 200px; height:  110px;margin: auto">
                                          <p style="margin: 10px 0px 0px 8px; color: red"><strong>${x}</strong><span>
                                          <i class='fas fa-shipping-fast' style='font-size:22px;color:red; float:right;'></i></span></p>
                                          <p style="margin: 8px 0px 10px 8px;">Loại: ${element.productType}</p>
                                          <button type="button" class="btn btn-warning" onclick="addCart(${element.id})" style="margin-left:55px; padding: 3px">Add Cart</button>
                                  </div>
                              </div>`
                        i += 1;
                    });
                    for (let j = 0; j <= i; j++) {
                        $('.sp').append(html[j]);
                    }
                    let pageNumber = Math.ceil(data.count / 12);
                    for (let count = 1; count <= pageNumber; count++) {
                        if (count == data.page) {
                            htmlPage[count] = `<li class="page-item active" id="pagez-${count}" ><a class="page-link">${count}</a></li>`
                        } else {
                            htmlPage[count] = `<li class="page-item" id="pagez-${count}" ><a class="page-link" onclick="getDataOfPage(${count})">${count}</a></li>`
                        }
                    }
                    for (let count = 1; count <= pageNumber; count++) {
                        $('#pageNumber').append(htmlPage[count]);
                    }
                    $('#pageNumber').append(`
				<li class="page-item" id="nextPage">
					<a class="page-link" tabindex="-1" onclick="getNextPage(${data.page}, ${pageNumber})">Next &raquo;</a>
				</li>
				`)
                    if (data.page == 1) {
                        document.getElementById("previewPage").classList.add("disabled");
                    }
                    if (data.page == pageNumber) {
                        document.getElementById("nextPage").classList.add("disabled");
                    }
                    loadCart();
                }
            });
        }


        function filterSelection(c) {
            resetSortFilter();
            if (c === "all") {
                this.brandFilter = null;
            } else {
                this.brandFilter = c;
            }
            this.getData();
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btns");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("activess");
                current[0].className = current[0].className.replace(" activess", "");
                this.className += " activess";
            });
        }

        var key = 'cart';
        var value = localStorage.getItem(key);
        var count;
        if (value) {
            listItem = value.split(",");
        } else {
            listItem = [];
        }
        var username = checkUsers();

        function loadCart() {
            if (username == "") {
                count = listItem.length;
                document.getElementById("count").innerHTML = "(" + count + ")";
            } else {
                $.ajax({
                    url: "/api/get-user-info",
                    async: false,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "Authorization": "Bearer " + localStorage.getItem('jwtToken')
                    },
                    success: function (data) {
                        $.ajax({
                            url: "/api/get-item-by-username?username=" + data,
                            async: false,
                            headers: {
                                "Content-Type": "application/x-www-form-urlencoded",
                                "Authorization": "Bearer " + localStorage.getItem('jwtToken')
                            },
                            success: function (res) {
                                count = res.length;
                                document.getElementById("count").innerHTML = "(" + count + ")";
                            }
                        });
                    }
                });
            }
        }

        function addCart(id) {
            if (username == "") {
                if (check(listItem, id) == 1) {
                    alert("Sản phẩm đã có trong giỏ hàng!");
                } else {
                    alert("Thêm vào giỏ hàng thành công!");
                    listItem.push(id);
                    localStorage.setItem(key, listItem);
                    loadCart();
                }
                ;
            } else {
                let data = {
                    username: username,
                    idItem: id
                }
                $.ajax({
                    method: 'post',
                    url: '/api/add-item-username',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: res => {
                        alert("Thêm vào giỏ hàng thành công!");
                        loadCart();
                    }
                });

            }

        }

        function check(listItem, id) {
            for (let i = 0; i < listItem.length; i++) {
                if (listItem[i] == id) {
                    return 1;
                }
            }
        }
        function resetSortFilter() {
            this.page = 1;
            this.priceSort = null;
            this.typeSort = null;
            document.getElementById("btn-sort-acs").classList.remove("active")
            document.getElementById("btn-sort-desc").classList.remove("active")
        }

        function checkUsers() {
            var result = "";
            var jwtToken = localStorage.getItem('jwtToken');
            $.ajax({
                url: "/api/get-user-info",
                async: false,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "Authorization": "Bearer " + jwtToken
                },
                success: function (data) {
                    result = data;
                }
            });
            if (result == null) {
                return "";
            } else {
                return result;
            }
        }

        function getDataOfPage(page) {
            this.page = page;
            this.getData();
        }

        function getNextPage(page, totalPage) {
            if (page >= totalPage) {
                return;
			}
            this.page = page + 1;
            this.getData();
        }

        function getPreviewPage(page) {
            if (page <= 1) {
                return;
            }
            this.page = page - 1;
            this.getData();
        }

        function sortByPrice(type) {
            this.page = 1;
            if (this.typeSort == type) {
                this.priceSort = null;
                this.typeSort = null;
            } else if (this.priceSort == null || this.typeSort != type) {
                this.priceSort = "price";
                this.typeSort = type;
            }
            if (this.priceSort == null) {
                document.getElementById("btn-sort-acs").classList.remove("active")
                document.getElementById("btn-sort-desc").classList.remove("active")
            } else {
                if (this.typeSort == 'DESC') {
                    document.getElementById("btn-sort-acs").classList.remove("active");
                    document.getElementById("btn-sort-desc").classList.add("active");
                }
                if (this.typeSort == 'ASC') {
                    document.getElementById("btn-sort-acs").classList.add("active");
                    document.getElementById("btn-sort-desc").classList.remove("active");
                }
            }
            this.getData();
        }
        function sortByGender(gender) {
            resetSortFilter();
            if (this.genderFilter === gender) {
                this.genderFilter = null;
            } else if (this.genderFilter == null || this.genderFilter != gender) {
                    this.genderFilter = gender;
            }
            if (this.genderFilter == null) {
                document.getElementById("gender-male").classList.remove("active")
                document.getElementById("gender-female").classList.remove("active")
            } else {
                if (this.genderFilter === 'male') {
                    document.getElementById("gender-female").classList.remove("active");
                    document.getElementById("gender-male").classList.add("active");
                }
                if (this.genderFilter === 'female') {
                    document.getElementById("gender-female").classList.add("active");
                    document.getElementById("gender-male").classList.remove("active");
                }
            }
            this.getData();
        }

    </script>
</th:block>
</html>